body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



:root {
  --primary-color: #36416A;
  --white-color: #FFFFFF;
  --gray-color: #737373;
  --black-color: #000000;
  --light-blue-color: #C0CEFF;
}