.product {
  margin-top: 0.6rem;
  display: flex;
  width: 100%;

  justify-content: space-between;

  background-color: rgba(54, 65, 106, 0.15);
}

.product-image {
  
  margin: 1rem;
  width: 36px;
  height: 36px;
  background-color: blue;
  border-radius: 50%;
}
.product-des {
  justify-content: flex-start !important;
  flex: 1;

  padding: 0.8rem;
}
.product-des-inner {
  width: 100%;
}
.product-name {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.product-p {
  margin-top: 0.6rem;
}
.categories-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.categories {
}

.make-comment {
  color: #ababab;
}
.make-comment:hover {
  color: var(--gray-color);
}
.product-actions {
  margin-right: 1rem;
}

.upvote-product {
  background-color: #c7cbd6;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
}
.comment-product {
}

/* ======================COMMENT SECTION ==================== */

.CommentSection {
  position: relative;
  width: 100%;
  background-color: rgba(54, 65, 106, 0.15);
}
.input-comment-box {
  width: 100%;
}

.input-comment {
  border: 2px solid #c7cbd6;
  padding: 0.6rem 1rem;
  width: 92%;
  border-radius: 2rem;
}
.input-comment::placeholder{
    color: #ABABAB;
    font-size: 1rem;
}
.commend-send {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
.input-comment:focus {
  outline: none;
}
.comments {
  max-height: 6rem;
  overflow-y: scroll;
  padding: 1.5rem 1rem;
  align-items: flex-start !important;
}
.product-comment {
  margin-top: 1rem;
  align-items: flex-start !important;
}
.comment {
    
  margin: 0;
  color: #999999;
  text-align: justify;
  margin-right: 1rem;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 8px;
    background-color:var(--white-color);
    border-radius: 2rem;
    margin-right: 1rem;

  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #C7CBD6;
    border-radius: 2rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #A5A9B6;
  }


  /* responsive */


  @media screen and (max-width :768px){
    
   
      /* flex-direction: column; */
.categories-container{
font-size: 0rem;
}  

.product-image {
      margin: 0;
      margin-top: 1rem;
      margin-left: 0.5rem;
     
    }
    .product-des {
      margin: 0;
      padding: 0.5rem;
  
    }
    .product-name {
      font-size: 1.2rem;
    }
    .product-p {
      font-size: 0.8rem;
    }
    .product-actions {
      margin: 0;
      margin-top: 1rem;
      margin-right: 0.5rem;
   
    }
    .edit {
    position: static;
    height: auto;
    margin-left: 0.5rem;
    }
    .input-comment {
      border: 2px solid #c7cbd6;
      padding: 0.6rem 0.8rem;
      width: 82%;
      border-radius: 2rem;
    }
    .input-comment::placeholder{
        color: #ABABAB;
        font-size: 0.8rem;
    }
    .commend-send {
      position: absolute;
      right: 2rem;
      cursor: pointer;
    }
    .input-comment:focus {
      outline: none;
    }
   
    
  }